<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <style>
      /* Root style to prevent clashes in GrapesJS */
      .gjs-editor .gjs-cm-editor,
      .gjs-editor .gjs-frame-wrapper,
      .gjs-editor .gjs-frame {
        all: initial !important;
        font-family: inherit !important;
      }

      /* Custom styles */
      .tailwind-root {
        --primary-color: #38514e;
        --secondary-color: #ebe4d4;
        --white-text: #e6e6e6;
        --off-white: #fcfbf8;
        --faded-green-bg: #eaefff1f;
        --light-green: #536d6a;
        --cream-bg: #ebe4d4;
        --cream-bg-ii: #fcfbf8;
      }

      .list-item {
        list-style-type: disc;
      }

      p {
        color: #4a4a4a !important;
      }

      button {
        padding: 0 !important;
      }
    </style>
  </head>

  <body class="bg-white font-['Inter'] text-[#38514e]">
    <!-- Navigation -->
    <nav class="flex w-full max-w-full items-center justify-center py-4 text-center text-white shadow-md md:py-8">
      <div class="w-full">
        <div class="flex items-center justify-center">
          <img
            src="https://res.cloudinary.com/kingsleysolomon/image/upload/v1752492045/byte-alley/puikbvsb9i75vt11hnjo.svg"
            alt="logo"
            class="w-[80px] md:w-[100px]"
          />
        </div>
      </div>
    </nav>

    <!-- Thank You Section -->
    <section class="py-16">
      <div class="container mx-auto flex max-w-2xl flex-col items-center justify-center gap-8 px-4 text-center">
        <div class="h-[173px] w-[173px]">
          <img
            src="https://res.cloudinary.com/doejcrfso/image/upload/v1751894362/bytealley%20funnel/Success_Icon_xgpfk9.svg"
            alt="success icon"
            width="173px"
            height="173px"
            class="h-[173px] w-[173px] object-contain"
          />
        </div>
        <div class="flex flex-col items-center justify-center space-y-4">
          <h2 class="text-center text-3xl font-bold text-black md:text-4xl lg:text-5xl">Thank You For Your Purchase</h2>
          <p class="text-center text-lg">We've received your payment successfully. Your package is on its way</p>
        </div>
      </div>
    </section>

    <!-- Accordion Section -->
    <section class="py-10 md:py-16">
      <div class="container mx-auto max-w-4xl space-y-6 px-4">
        <!-- Accordion Item 1 -->
        <div class="rounded-xl bg-[#fcfbf8] p-4">
          <div class="accordion-toggle flex cursor-pointer items-center justify-between">
            <div class="flex items-start gap-3">
              <div class="hidden h-6 w-6 lg:block">
                <img
                  src="https://res.cloudinary.com/doejcrfso/image/upload/v1752156552/bytealley%20funnel/checkbox_c8psr0.svg"
                  alt="checkbox-icon"
                  class="h-full w-full object-contain"
                />
              </div>
              <div>
                <h3 class="text-xl font-bold md:text-2xl">Check Your Email</h3>
                <p class="mb-0 text-left">An email has been sent to your@email.com to access your freebie product</p>
              </div>
            </div>
            <div class="accordion-arrow hidden h-6 w-6 transform transition-transform duration-300 lg:block">
              <img
                src="https://res.cloudinary.com/doejcrfso/image/upload/v1751895241/bytealley%20funnel/arrow_fpadwn.svg"
                alt="arrow"
                class="h-full w-full object-contain"
              />
            </div>
          </div>
        </div>

        <!-- Accordion Item 2 -->
        <div class="rounded-xl bg-[#fcfbf8] p-4">
          <div class="flex flex-col items-start justify-between gap-4 lg:flex-row lg:items-center">
            <div class="flex w-[50%] items-start gap-3">
              <div class="hidden h-6 w-6 lg:block">
                <img
                  src="https://res.cloudinary.com/doejcrfso/image/upload/v1752156552/bytealley%20funnel/checkbox_c8psr0.svg"
                  alt="checkbox-icon"
                  class="h-full w-full object-contain"
                />
              </div>
              <div>
                <h3 class="text-xl font-bold md:text-2xl">Download Your Product</h3>
              </div>
            </div>
            <div>
              <button
                class="h-[48px] w-fit rounded-lg border border-transparent bg-[#38514e] !px-6 py-2 font-bold text-white transition-colors duration-300 hover:border-[#38514e] hover:bg-[#ebe4d4] hover:text-[#38514e]"
              >
                ACCESS PRODUCT
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </body>
</html>
